<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>consult</servlet-name>
        <servlet-class>consult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServ</servlet-name>
        <servlet-class>ScheduleServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSev</servlet-name>
        <servlet-class>LoginSev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regServ</servlet-name>
        <servlet-class>regServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EsraApp</servlet-name>
        <servlet-class>EsraApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consult1</servlet-name>
        <servlet-class>consult1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanuApp</servlet-name>
        <servlet-class>BanuApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GazanferApp</servlet-name>
        <servlet-class>GazanferApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GizemApp</servlet-name>
        <servlet-class>GizemApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateuszApp</servlet-name>
        <servlet-class>MateuszApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MelikApp</servlet-name>
        <servlet-class>MelikApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MehmatApp</servlet-name>
        <servlet-class>MehmatApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MelisaApp</servlet-name>
        <servlet-class>MelisaApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SameualApp</servlet-name>
        <servlet-class>SameualApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MithatApp</servlet-name>
        <servlet-class>MithatApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dentistview</servlet-name>
        <servlet-class>dentistview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientview</servlet-name>
        <servlet-class>patientview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>consult</servlet-name>
        <url-pattern>/consult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServ</servlet-name>
        <url-pattern>/ScheduleServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSev</servlet-name>
        <url-pattern>/LoginSev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regServ</servlet-name>
        <url-pattern>/regServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsraApp</servlet-name>
        <url-pattern>/EsraApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consult1</servlet-name>
        <url-pattern>/consult1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanuApp</servlet-name>
        <url-pattern>/BanuApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GazanferApp</servlet-name>
        <url-pattern>/GazanferApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GizemApp</servlet-name>
        <url-pattern>/GizemApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateuszApp</servlet-name>
        <url-pattern>/MateuszApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MelikApp</servlet-name>
        <url-pattern>/MelikApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MehmatApp</servlet-name>
        <url-pattern>/MehmatApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MelisaApp</servlet-name>
        <url-pattern>/MelisaApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SameualApp</servlet-name>
        <url-pattern>/SameualApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MithatApp</servlet-name>
        <url-pattern>/MithatApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dentistview</servlet-name>
        <url-pattern>/dentistview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientview</servlet-name>
        <url-pattern>/patientview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
