.t1{
    position: relative;
    width: 200px;
    height: 10;
    /* background-color: rgba(77, 193, 228, 0.283); */
    border: 2px solid white;
    padding: 50px;
    margin: 20px;
    top: 60px;
    left: 500px;
    border-radius: 40px;
    background-image: url(img.jpg);

}
/* .t2{
    position: relative;
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
} */
.t2{
    background-color: rgba(77, 193, 228, 0.283);
    border: 2px solid white;
    width: 200px;
    height: 10;
    border-radius: 40px;
    background-image: url(img.jpg);
    padding: 50px;
    margin: 20px;
    position: relative;
    top: 30px; 
    left:500px; 
    
}
.t3{
    background-color: rgba(77, 193, 228, 0.283);
    border: 2px solid white;
    width: 200px;
    height: 10;
    border-radius: 40px;
    background-image: url(img.jpg);
    padding: 50px;
    margin: 20px;
    position: relative;
    top: 0px;
    left: 500px;
}
.t4{
    background-color: rgba(77, 193, 228, 0.283);
    border: 2px solid white;
    width: 200px;
    height: 10;
    border-radius: 40px;
    background-image: url(img.jpg);
    padding: 50px;
    margin: 20px;
    position: absolute;
    top: 570px;
    left: 510px;
}
.t5{
    background-color: rgba(77, 193, 228, 0.283);
    border: 2px solid white;
    width: 200px;
    height: 10;
    border-radius: 40px;
    background-image: url(img.jpg);
    padding: 50px;
    margin: 20px;
    position: absolute;
    top: 720px;
    left: 510px;
}
.t6{
    background-color: rgba(77, 193, 228, 0.283);
    border: 2px solid white;
    width: 200px;
    height: 10;
    border-radius: 40px;
    background-image: url(img.jpg);
    padding: 50px;
    margin: 20px;
    position: absolute;
    top: 870px;
    left: 510px;
}
.t7{
    background-color: rgba(77, 193, 228, 0.283);
    border: 2px solid white;
    width: 200px;
    height: 10;
    border-radius: 40px;
    background-image: url(img.jpg);
    padding: 50px;
    margin: 20px;
    position: absolute;
    top: 1020px;
    left: 510px;
}
.n{
    border-color:2px solid rgb(8, 39, 65);
    margin: 500;
    padding: 600;
}
.u1{
    top: 70px;
    text-shadow: 50px;
    position: absolute;
    font-size: 34px;
    font-weight: bold;
    text-decoration: dotted;
    left: 0px;
    text-align: center;
}
.planto{
    
    text-shadow: 50px;
    position: absolute;
    font-size: 20px;
    top: 250px;
    text-decoration: dotted;
    left: 150px;
    right: 100px; 
    /* text-align: center; */
}
.beforeAfter{
    position: absolute;
    width: 50px ;
    height: 10;
    padding: 150px;
    margin: 150px;
    top: 200px;
    left: 400px;
    background-image: url(op.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
}
.plant{
    
    text-shadow: 50px;
    position: absolute;
    font-size: 20px;
    top: 550px;
    text-decoration: dotted;
    left: 150px;
    right: 100px; 
}
.dent{
    background-image: url(r.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgb(11, 11, 11));
}
/* .pictures{
    border: 1px solid rgba(183, 176, 176, 0.471);
    background-image: url(sel.png);
    top:650px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px;
    padding: 50px;   
} */
.ds{
    background-image: url(w1.png);
    position: absolute;
    padding: 100px;
    margin: 50px;
    height: 500px;
    width: 1020px;
    top: 700px;
    /* left: 0px; */
    background-repeat: no-repeat;
    background-size: cover; 
}
.ds1{
    border: 1px solid black;
    background-image: url(w1.png);
    position: absolute;
    padding: 100px;
    margin: 50px;
    height: 70px;
    width: 150px;
    top: 50px;
    left: 150px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.d1{
    /* border: 2px solid black; */
    position: absolute;
    width: 50px ;
    height: 10;
    padding: 60px;
    margin: 50px;
    top: 0px;
    left: 0px;
    bottom: 500px;
    /* border-radius: 10px; */
    background-image: url(Melisa\ mete-\ dental\ Implant\ 6y.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.wrts1{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 0px;
    /* left: 15px; */
    color: green;
}
.wrtss1{
    position: absolute;
    text-align: center;
    top: 200px;
    left: 10px;

}
.dsp1{
    position: absolute;
    text-align: center;
    top: 230px;
    left: 110px;
    border: 1px solid black;
    height: 20px;
    width: 70px;
    background-color: rgb(85, 221, 228);
}

.ds2{
    border: 1px solid black;
    background-image: url(w1.png);
    position: absolute;
    padding: 100px;
    margin: 50px;
    height: 70px;
    width: 150px;
    top: 50px;
    left: 600px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.d2{
    /* border: 2px solid black; */
    position: absolute;
    width: 20px ;
    height: 30;
    padding: 60px;
    margin: 50px;
    top: 0px;
    left: 0px;
    bottom: 500px;
    /* border-radius: 10px; */
    background-image: url(Gazanfer\ Alioglu\ implantologist\ experience\ 10\ y.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.wrts2{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 0px;
    left: 15px;
    color: green;
}
.wrtss2{
    position: absolute;
    text-align: center;
    top: 200px;
    left: 10px;

}
.dsp2{
    position: absolute;
    text-align: center;
    top: 230px;
    left: 110px;
    border: 1px solid black;
    height: 20px;
    width: 70px;
    background-color: rgb(85, 221, 228);
}
.ds3{
    border: 1px solid black;
    background-image: url(w1.png);
    position: absolute;
    padding: 100px;
    margin: 50px;
    height: 70px;
    width: 150px;
    top: 350px;
    left: 150px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.d3{
    /* border: 2px solid black; */
    position: absolute;
    width: 20px ;
    height: 30;
    padding: 60px;
    margin: 50px;
    top: 0px;
    left: 0px;
    bottom: 500px;
    /* border-radius: 10px; */
    background-image: url(Banu\ Onur\ Cakmakci\ implanto\ 21y.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.wrts3{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 0px;
    /* left: 15px; */
    color: green;
}
.wrtss3{
    position: absolute;
    text-align: center;
    top: 200px;
    left: 10px;

}
.dsp3{
    position: absolute;
    text-align: center;
    top: 230px;
    left: 110px;
    border: 1px solid black;
    height: 20px;
    width: 70px;
    background-color: rgb(85, 221, 228);
}
.ds4{
    border: 1px solid black;
    background-image: url(w1.png);
    position: absolute;
    padding: 100px;
    margin: 50px;
    height: 70px;
    width: 150px;
    top: 350px;
    left: 600px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.d4{
    /* border: 2px solid black; */
    position: absolute;
    width: 20px ;
    height: 30;
    padding: 60px;
    margin: 50px;
    top: 0px;
    left: 0px;
    bottom: 500px;
    /* border-radius: 10px; */
    background-image: url(Mehmat\ yuavaz\ implanto\ 5y.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.wrts4{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 0px;
    left: 15px;
    color: green;
}
.wrtss4{
    position: absolute;
    text-align: center;
    top: 200px;
    left: 10px;

}
.dsp4{
    position: absolute;
    text-align: center;
    top: 230px;
    left: 110px;
    border: 1px solid black;
    height: 20px;
    width: 70px;
    background-color: rgb(85, 221, 228);
}
.doctor{
    background-image: url(sel4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgb(126, 198, 210));
}
.doc1{
    text-align: center;
}
.dc{

    text-align: center;
    top: 200px;
}
.dcs{
    font-size: 20px;
    font-weight: bold;
}
.sub{
    position: absolute;
    text-align: center;
    color: rgb(194, 46, 46);
    
}
.reh{
    background-image: url(dce.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    left: 700px;
    margin: 250px;
    height: 0px;
    width: 150px;

}
.teh{
    position: absolute;
    top: 0px;
    left: 590px;
    text-align: center;
}
.dsp5{
    position: absolute;
    text-align: center;
    top: 300px;
    left: 0px;
    border: 1px solid black;
    height: 20px;
    width: 70px;
    background-color: rgba(208, 217, 218, 0.245);
}
.subn{
    background-image: url(w3.png);
    border: 2px solid black;
    margin: 50px;
    padding: 50px;
    position: relative;
    width: 120px;
    height: 10px;
    left: 500px;
    top: 200px;
    border-radius: 10px;
    text-align: left;
}

.de1{
    position: relative;
    text-align: center;
}

.d0{
    position: relative;
    background-color: white;
    width: 210px;
    height: 10;
    border: 2px solid black;
    padding: 20px;
    margin: 3px; 
    top: 250px;
    left: 97px;

}
.tw{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
.tw1{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
.tp{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
.tp1{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
.cd{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
.cd1{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
.tb{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
.tb1{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
#submit{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
}
/* .s{
    background-color: white;
    width: 200px;
    height: 10;
    border: 2px solid black;
    padding: 50px;
    margin: 20px; 
} */
.one{
	width:500px;
height:400px;
background-color:aqua;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.u{
    position: relative;
    text-align: center;
}
.teh h1{
font-size:35px;
position:fixed;
}
